[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{ kerberos_realm|upper() }}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true

[realms]
 {{ kerberos_realm| upper() }} = {
  kdc = {{ groups['kdc'][0] }}.{{ ansible_domain }}
  admin_server = {{ groups['kdc'][0] }}.{{ ansible_domain }}
 }

[domain_realm]
 .{{ kerberos_realm|lower() }} = {{ kerberos_realm|upper() }}
  {{ kerberos_realm|lower() }} = {{ kerberos_realm|upper() }}
